@import 'reset';

$color3: red;

*{
	box-sizing: border-box;
}

html{

	font-size: 16px;
}

body.hasLoader{

	overflow-y: hidden;
}

body{

	font-family: Arial, sans-serif;
	line-height: 1.4rem;
	padding: 0 0 8rem 0;

	.loader,
	a,
	#loader.on #close::after{

		color: blue;
		text-decoration: underline;
		cursor: pointer;
	}

	header{

		h1{

			position: fixed;
			font-size: 1.5rem;
			text-transform: uppercase;
			vertical-align: bottom;
			display: flex;
			flex-wrap: wrap;
			z-index: 99;
			right: 0;
			bottom: 0;
			width: 100%;
			background: white;
			padding: 0.5rem 0.5rem 0.75rem 0.5rem;

			>div{

				width: calc(100% / 6);
				text-align: center;
			}

			span{

				margin: 0 0.5rem 0 0;
				display: inline-block;

			}

			div:nth-child(1) span{

				transform: rotate(-35deg);
			}

			div:nth-child(2) span{

				transform: rotate(10deg);
				padding: 0.5rem 0 0 0;
			}

			div:nth-child(3) span{

				transform: rotate(-40deg);
			}

			div:nth-child(4) span{

				transform: rotate(5deg);
				padding: 0 0 0.5rem 0;
			}

			div:nth-child(5) span{

				transform: rotate(10deg);
				padding: 0.5rem 0 0 0;
			}

			
		}
	}

	#loader.on{

		position: fixed;
		z-index: 9999999;
		top: 0;
		right: 0;
		width: 100%;
		padding: 0 0 0 20%;
		font-size: 2rem;
		line-height: 2.5rem;


		p{
			padding: 0 0 3rem 0;
		}


		#close::after{

			content: "[Close]";
			font-size: 1.5rem;
			position: absolute;
			bottom: 0;
			width: 100%;
			background: white;
			display: block;
			z-index: 99;
		}

		.content{

			background:white;
			height: 100vh;
			overflow-y: scroll;
			padding: 0.5rem 1rem 6rem 1rem;
			z-index: 999;

			ul{

				margin: 0 0 6rem 0;
			}

		}

	}

	#loader.dig{

		li::before{

			content: "💙 ";
		}
	}
}


.bottom{

	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 9999;
	background: #fff;
	display: flex;
	color: blue;

	.collection{

		display: inline;

		li{

			padding: 0 0 0.25rem 0;
			display: inline;


		}
	}



}

main{

	#left{

		width: 50%;
		position: fixed;
		top: 15vh;
		right: 0;
		z-index: 0;

		header{

			font-size: 2rem;
			line-height: 3rem;
			display: none;

			h1{
				display: none;
			}

		}

		iframe{

			width: 100%;
			height: calc(50vw * 9 / 16);
		}

	}


	#right{

		overflow-y: scroll;

		.choose{

			background: $color3;
			position: fixed;
			bottom: calc(3.25rem - 2px);
			right: 0;
			z-index: 9;
			padding: 0 1rem 0 1rem;
			color: white;

			>div{

				display: inline-block;

				select{

					display: inline-block;

					max-height: 50vh;

				}		
				
			}

			>div:not(:last-of-type){


				margin: 0 1rem 0 0;
			}
		}

		table{

			width: 100%;

		}

		tr{
			width: 100%;
		}

		tr:nth-child(odd){

			background: #eee;
		}

		tr.first{

			position: fixed;
			background: #fff;
			z-index: 3;
			bottom: calc(3.25rem - 2px);
			background: $color3;
			color: #fff;
			padding: 1px;

		}


		td, th{

			padding: 0 0 0 1rem;
			text-align: left;

			span,
			a{

				position: relative;
				z-index: 2;

			}
		}

		td:nth-child(1),
		th:nth-child(1){

			width: 40vw;
		}

		td:nth-child(2),
		th:nth-child(2){

			width: 60vw;


		}

		tr:nth-child(odd).on,
		tr:nth-child(even).on,
		tr:hover:not(.first){

			background: yellow;
			
		}

		tr:hover:not(.first){

			cursor: pointer;
		}
	}


}


@media screen and (max-width: 1250px){

	body{

		#loader.on{

			font-size: 1.5rem;
			line-height: 2rem;

			#close::after{

				font-size: 1.5rem;
				line-height: 2rem;
			}
		}
	}


}

@media screen and (max-width: 700px){

	body{

		#loader.on{

			padding:0;
		}

		main{

			#right{

				.choose{

					width: 100%;

					>div{

						display: block;
					}

				}

				table{

					th{
						display: none;
					}

					td, th{

						span,
						a{
							z-index: 0;

						}
					}

					td{
						display: block;
					}

					td:nth-child(1),
					td:nth-child(2){

						width: 100%;
						padding: 0 0.5rem 0 0.5rem;

					}

					td:nth-child(5){

						display: none;
					}
				}
			}

			#left{

				width: 100%;
				top: unset;
				bottom: 7.25rem;
				background: #000;

				iframe{

					height: calc(100vw * 9 / 16);
				}
			}

		}
	}
}