@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

* {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body.hasLoader {
  overflow-y: hidden; }

body {
  font-family: Arial, sans-serif;
  line-height: 1.4rem;
  padding: 0 0 8rem 0; }
  body .loader,
  body a,
  body #loader.on #close::after {
    color: blue;
    text-decoration: underline;
    cursor: pointer; }
  body header h1 {
    position: fixed;
    font-size: 1.5rem;
    text-transform: uppercase;
    vertical-align: bottom;
    display: flex;
    flex-wrap: wrap;
    z-index: 99;
    right: 0;
    bottom: 0;
    width: 100%;
    background: white;
    padding: 0.5rem 0.5rem 0.75rem 0.5rem; }
    body header h1 > div {
      width: calc(100% / 6);
      text-align: center; }
    body header h1 span {
      margin: 0 0.5rem 0 0;
      display: inline-block; }
    body header h1 div:nth-child(1) span {
      transform: rotate(-35deg); }
    body header h1 div:nth-child(2) span {
      transform: rotate(10deg);
      padding: 0.5rem 0 0 0; }
    body header h1 div:nth-child(3) span {
      transform: rotate(-40deg); }
    body header h1 div:nth-child(4) span {
      transform: rotate(5deg);
      padding: 0 0 0.5rem 0; }
    body header h1 div:nth-child(5) span {
      transform: rotate(10deg);
      padding: 0.5rem 0 0 0; }
  body #loader.on {
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: 0;
    width: 100%;
    padding: 0 0 0 20%;
    font-size: 2rem;
    line-height: 2.5rem; }
    body #loader.on p {
      padding: 0 0 3rem 0; }
    body #loader.on #close::after {
      content: "[Close]";
      font-size: 1.5rem;
      position: absolute;
      bottom: 0;
      width: 100%;
      background: white;
      display: block;
      z-index: 99; }
    body #loader.on .content {
      background: white;
      height: 100vh;
      overflow-y: scroll;
      padding: 0.5rem 1rem 6rem 1rem;
      z-index: 999; }
      body #loader.on .content ul {
        margin: 0 0 6rem 0; }
  body #loader.dig li::before {
    content: "💙 "; }

.bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999;
  background: #fff;
  display: flex;
  color: blue; }
  .bottom .collection {
    display: inline; }
    .bottom .collection li {
      padding: 0 0 0.25rem 0;
      display: inline; }

main #left {
  width: 50%;
  position: fixed;
  top: 15vh;
  right: 0;
  z-index: 0; }
  main #left header {
    font-size: 2rem;
    line-height: 3rem;
    display: none; }
    main #left header h1 {
      display: none; }
  main #left iframe {
    width: 100%;
    height: calc(50vw * 9 / 16); }

main #right {
  overflow-y: scroll; }
  main #right .choose {
    background: red;
    position: fixed;
    bottom: calc(3.25rem - 2px);
    right: 0;
    z-index: 9;
    padding: 0 1rem 0 1rem;
    color: white; }
    main #right .choose > div {
      display: inline-block; }
      main #right .choose > div select {
        display: inline-block;
        max-height: 50vh; }
    main #right .choose > div:not(:last-of-type) {
      margin: 0 1rem 0 0; }
  main #right table {
    width: 100%; }
  main #right tr {
    width: 100%; }
  main #right tr:nth-child(odd) {
    background: #eee; }
  main #right tr.first {
    position: fixed;
    background: #fff;
    z-index: 3;
    bottom: calc(3.25rem - 2px);
    background: red;
    color: #fff;
    padding: 1px; }
  main #right td, main #right th {
    padding: 0 0 0 1rem;
    text-align: left; }
    main #right td span,
    main #right td a, main #right th span,
    main #right th a {
      position: relative;
      z-index: 2; }
  main #right td:nth-child(1),
  main #right th:nth-child(1) {
    width: 40vw; }
  main #right td:nth-child(2),
  main #right th:nth-child(2) {
    width: 60vw; }
  main #right tr:nth-child(odd).on,
  main #right tr:nth-child(even).on,
  main #right tr:hover:not(.first) {
    background: yellow; }
  main #right tr:hover:not(.first) {
    cursor: pointer; }

@media screen and (max-width: 1250px) {
  body #loader.on {
    font-size: 1.5rem;
    line-height: 2rem; }
    body #loader.on #close::after {
      font-size: 1.5rem;
      line-height: 2rem; } }

@media screen and (max-width: 700px) {
  body #loader.on {
    padding: 0; }
  body main #right .choose {
    width: 100%; }
    body main #right .choose > div {
      display: block; }
  body main #right table th {
    display: none; }
  body main #right table td span,
  body main #right table td a, body main #right table th span,
  body main #right table th a {
    z-index: 0; }
  body main #right table td {
    display: block; }
  body main #right table td:nth-child(1),
  body main #right table td:nth-child(2) {
    width: 100%;
    padding: 0 0.5rem 0 0.5rem; }
  body main #right table td:nth-child(5) {
    display: none; }
  body main #left {
    width: 100%;
    top: unset;
    bottom: 7.25rem;
    background: #000; }
    body main #left iframe {
      height: calc(100vw * 9 / 16); } }
